* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reusable */
.row {
    width: 1140px;
    margin: 0 auto;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
}

.heading-main h2:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 2px solid #dd7000 ;
    margin: 10px auto ;
}

/* Header */
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/header.jpg);
    background-size: cover;
    height: 15vh;
}

#logo img {
    width: 120px ;
    height: 120px;
    position: absolute;
    top: 2%;
}

nav ul{
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin-left: 15px;
}

nav ul li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.btn:link,
.btn:visited {
    border: 1px solid #dd8500;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #dd8500;
    color: black;
}

.btn:hover,
.btn:active {
    border: 1px solid #dd7000;
    padding: 7px 10px;
    background-color: #bb7000;
}

/* About us */

h1 {
    text-align: center;
}

.about-us {
    margin-top: 15px;
}

.our_services img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #000;
}